*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #939681;

}
section .paragraphe{
    position : relative;
    text-align: center;
    color: #e0cda9;
    margin: 40px;
    max-width: 650px;

}
section .paragraphe span{
    position : relative;
    display : inline-block;
}